@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}

<div>
    We are located in Bengaluru India and out development center is 250 sq. ft. sized area. <br />
    You can reach our dev site at : www.funnutri.co.in <br />
    Thank you ! Come again !
</div>

<h3>What you can get by visiting this site:</h3>

<ol>
    <li>Learn more about Nutrition, Excersise and how to live a healthy life.</li>
    <li>An extension to mental and emotional health as well, since Healthy is a combinationf Pyhsical, Mental and Emotional well being.</li>
    <li>There are different authors here, Emotional and mental health will be guided by Mrs. Tenzin and Mr. Tenzin</li>
    <li>You can create your account and ask queries, note you progression in your healthy journey and many more features.</li>
    <li>Connect with the whoel community conversation and this is solely a group conversation, promoting social healthy energy.</li>
</ol>

