@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}

<div>
    We are located in Bengaluru India and out development center is 250 sq. ft. sized area. <br />
    You can reach our dev site at : www.funnutri.co.in <br />
    Thank you ! Come again !
</div>
