@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact us";
}
<script language="C#" runat="server">

      protected void FancyBtn_Click(object sender, EventArgs e)
      {  
        Message.InnerHtml = "Your name is: Tsewa"; 
      }
      
</script>
<div>
    Tsewang <br />
    Bengaluru <br />
    00112233 
</div>

<table>
    <tr>
        <td> Have an Account? </td>
    </tr>
    <tr>
        <td>
            email 
        </td>
        <td>
            <input type="text"/>
        </td>
    </tr>
     <tr>
        <td>
            password
        </td>
        <td>
            <input type="text"/>
        </td>
    </tr>
    <tr><td><button type="button">Login</button></td></tr>
</table>
