@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var percen = ViewBag.Percentage;
}
<center><h1><b>@percen</b></h1></center>
