@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Excercise";
}

<p>
    A lot about nutrition is meaningless without excercise. Both go hand in hand

</p>

<a asp-area="" asp-controller="Home" asp-action="VarietiesOfExercise">Varieties Of Exercises</a>

<div style="align-content: center; ">
    <img id="img_logo" alt="Logo" src="~/images/exercs.jpg"/>
</div>

<table>
    <tr>
        <td colspan=2>
            basic distribution
        </td>
    </tr>
    <tr>
        <td>
            <a href="www.hiit.com">hiit</a>
        </td>
        <td>
            <a href="www.heavy.com">heavy</a>
        </td>
    </tr>
</table>
