@{
    ViewData["Title"] = "Home Page";
}
<style>
    .picture{
        width: 50%;
        height: 50%;
        display: block;
    }

</style>
@*<a href="https://nutritionfacts.org/">click here to learn more about nutrition</a>.*@
<div style="align-content: center; ">
    <img id="img_logo" alt="Logo" src="~/images/nutri.jpg" class="picture"/>
</div>

<div style="height:100px;width:140px;overflow:auto;border:8px solid yellowgreen;padding:2%">This scroll box has had a border added to it. You can add borders to anything in HTML - including scroll boxes.</div>
    