@{
    ViewData["Title"] = "Home Page";
}

    <a href="https://nutritionfacts.org/">click here to learn more about nutrition</a>.
    <div>
        <img id="img_logo" alt="Logo" src="~/images/nutri.jpg" height="500" width="500" />
    </div>
    