@{
    ViewData["Title"] = "Home Page";
}
<style>
    .picture{
        width: 50%;
        height: 50%;
    }

</style>
@*<a href="https://nutritionfacts.org/">click here to learn more about nutrition</a>.*@
    <center><img id="img_logo" alt="Logo" src="~/images/nutri.jpg" class="picture"/></center>
<div style="height:100px;width:140px;overflow:auto;border:8px solid yellowgreen;padding:2%; block-size:fit-content">
    This scroll box has had a border added to it. You can add borders to anything in HTML - including scroll boxes.</div>
    
<p>
    <h1>Welcome all !</h1><br />
    This page is dedicated to those who are curious about nutrition, those who love excercise, those who want to lead a healthy life and to all those who also believe that 
    a healthy life is something which we should always be grateful and maintain, for yourselve and for others becauase, if you are well, then you can help others .. so lets go and 
    explore this journey of nutrition, excercise and Healthy living.
</p>
    