@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Nutrition";
}
<script type="text/javascript">
        function Login()
        {
        var myTextField = "be back";
        alert(myTextField);
        }
        function SignUp()
        {
        var myTextField = "not yet";
        alert(myTextField);
        }
        function forgotpw()
        {
        var myTextField = "eamil sent!";
        alert(myTextField);
        }

        function reactiveLightingBTN()
        {
            if(Element.color = "blue")
            Element.color = "red";
            else
            Element.color = "blue";
        }

</script>
<table class="table">
    <tr>
        <tr>
        <td> Have an Account? </td>
    </tr>
    <tr>
        <td>
            email 
        </td>
        <td>
            <input type="text"/>
        </td>
    </tr>
     <tr>
        <td>
            password
        </td>
        <td>
            <input type="text"/>
        </td>
    </tr>
    <tr><td><button type="button" onclick="Login()" >Login</button></td></tr>
    </tr>
    <tr><td>Forgot Passoword?</td>
        <td><input type="text"/></td>
        <td><button type="button" onclick="forgotpw()" >Reset Password</button></td></tr>
    <tr>
        <td> Create Account? </td>
    </tr>
    <tr>
        <td>
            Name 
        </td>
        <td>
            <input type="text"/>
        </td>
    </tr>
    <tr>
        <td>
            email 
        </td>
        <td>
            <input type="text"/>
        </td>
    </tr>
     <tr>
        <td>
            password
        </td>
        <td>
            <input type="password"/>
        </td>
    </tr><tr>
        <td>
            Confirm Password
        </td>
        <td>
            <input type="password"/>
        </td>
    </tr>
    <tr><td><button type="button" onclick="SignUp()" onkeypress="signup()">Sign Up</button></td></tr>
</table>
<div>
   @* @Html.EditorFor(model => model.name, new string{htmlAttributes = new {@class = "form-control"}})
    @Html.ValidationMessageFor(Model => model.name, "", new {@class = "text-danger"})*@
</div>
<button id="reactivebtn" type="button" onclick="reactiveLightingBTN()" >Reactive</button>
