@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Nutrition";
}
<script type="text/javascript">
        function Login()
        {
        var myTextField = "be back";
        alert(myTextField);
        }
        function SignUp()
        {
        var myTextField = "not yet";
        alert(myTextField);
        }
</script>
<table>
    <tr>
        <tr>
        <td> Have an Account? </td>
    </tr>
    <tr>
        <td>
            email 
        </td>
        <td>
            <input type="text"/>
        </td>
    </tr>
     <tr>
        <td>
            password
        </td>
        <td>
            <input type="text"/>
        </td>
    </tr>
    <tr><td><button type="button" onclick="Login()" >Login</button></td></tr>
    </tr>
    <tr><td>Forgot Passoword? Click here</td></tr>
    <tr>
        <td> Create Account? </td>
    </tr>
    <tr>
        <td>
            Name 
        </td>
        <td>
            <input type="text"/>
        </td>
    </tr>
    <tr>
        <td>
            email 
        </td>
        <td>
            <input type="text"/>
        </td>
    </tr>
     <tr>
        <td>
            password
        </td>
        <td>
            <input type="password"/>
        </td>
    </tr><tr>
        <td>
            Confirm Password
        </td>
        <td>
            <input type="password"/>
        </td>
    </tr>
    <tr><td><button type="button" onclick="SignUp()" onkeypress="signup()">Sign Up</button></td></tr>
</table>
