@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Nutritcolor";

}
<h1>@ViewData["Title"]</h1>

<a style="font-style:italic; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:red" asp-area="" asp-controller="Home" asp-action="Display_Percentage">Click here to see the progress percentage</a>

<ul>
    <li>Macro Nutrients</li>
    <li>Micro Nutrients</li>
</ul>

<h3>Macro</h3>
<ol>
    <b>
    <li style="color:red;">Protein</li>
    <li style="color:blue;">Carbohydrate</li>
    <li style="color:rosybrown;">Fat</li>
    <ul>
        <li style="color:darkslategrey; ">Saturated fat</li>
        <li style="color:orangered; ">Un-saturated fat</li>
        <li style="color:rebeccapurple; ">Trans fat</li>
    </ul>
    </b>
</ol>

<h3>Micro</h3>
<ol>
    <li>Minerals</li>
    <li>Vitamins</li>
</ol>
<div>
    Sources : Frutis and Vegetables
</div>

<h1>Unhealthy substances:</h1>
<ul>
    <li><b>COKE</b> : Sugar and corrosive and high in calorie</li>
    <li>fast foods : High in Carbs and with high fat content (bad fat)</li>
    <li>Red meat : High in trans fat which is the bad fat</li>
</ul>

<p>
    All these items from protein to minerals, we assume that we should only consume. but there are other things as well that we need not consume as a substance or fluid rather we can 
    obtain from just being around it.
</p>
<p>
    One such example is 'Sun', Its importat that we get sufficient amount of sun which helps us produce Vitamin D. So make sure you get sun time to time and not stay indoors for 
    long period of time.
</p>
<p>
    And then good air quality, dust free is also recommended around, so make sure you put your mask on when going around polluted area.
</p>