@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Nutrition";
    
}
<h1>@ViewData["Title"]</h1>

<p>Construction in progress ...</p>
<a style="background:red" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Display_Percentage">Click here to see the progress percentage</a>

<ul>
    <li>Macro Nutrients</li>
    <li>Miccro Nutrients</li>
</ul>

<h3>Macro</h3>
<ol>
    <li>Protein</li>
    <li>Carbohydrate</li>
    <li>Fat</li>
    <ul>
        <li>Saturated fat</li>
        <li>Un-saturated fat</li>
        <li>Trans fat</li>
    </ul>
</ol>

<h3>Micro</h3>
<ol>
    <li>Minerals</li>
    <li>Nutrients</li>
</ol>
<div>
    Sources : Frutis and Vegetables
</div>

<h1>Unhealthy substances:</h1>
<ul>
    <li><b>COKE</b> : Sugar and corrosive and high in calorie</li>
    <li>fast foods : High in Carbs and with high fat content (bad fat)</li>
    <li>Red meat : High in trans fat which is the bad fat</li>
</ul>