@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Nutrition";
}
<h1>@ViewData["Title"]</h1>

<p>Construction in progress ...</p>

<ul>
    <li>Macro Nutrients</li>
    <li>Miccro Nutrients</li>
</ul>

<h3>Macro</h3>
<ol>
    <li>Protein</li>
    <li>Carbohydrate</li>
    <li>Fat</li>
</ol>

<h3>Micro</h3>
<ol>
    <li>Minerals</li>
    <li>Nutrients</li>
</ol>