@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Questions";
}
<script>
    function reminder()
        {
        var myTextField = "please Login to post questions";
        alert(myTextField);
        }
</script>
<h1>
    Post your questions here.
</h1>

<input type="text"/>
<button onclick="reminder()">POST</button>
