@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Questions";
}
@*<script>
    function reminder()
        {
        var myTextField = "please Login to post questions";
        alert(myTextField);
        }
</script>
<h1>
    Post your questions here.
</h1>

<input type="text"/>
<button onclick="reminder()">POST</button>*@

<div>
    Covering the generals on html, xml, yaml.. Here in html , to print the tag. we need the use the Entity Reference that is for double quotes &quot; or "
    and then for the tag, we cant use the angle bracket as the browser will read it as the begiing of an element so we have an entioty reference for this that is &lt;
</div>
