@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<table border=1>
    <tr>
        <td>
            SerialNo.
        </td>
        <td>
            Description
        </td>
        <td>
            Code
        </td>
    </tr>
    <tr>
        <td>
            01
        </td>
        <td>
            Sample
        </td>
        <td>
            PO123
        </td>
    </tr>
</table>
