@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewData["Title"] = "Varieties Of Excercise";
}

<ul>
    <li>
        Yoga
    </li>
    <li>HIIT</li>
    <li>Stamina</li>
    <li>strenght</li>
    <li>endurance</li>
    <li>streching</li>
</ul>

<p>
    For busy people, excercise(detailed) is not feasible and also not going to be extra benefitial. So there are just few which can be done in order to engage your physical links.
</p>
<ul>
    <li>Running after bed or before</li>
    <li>and streching</li>
    <li>pushup pullup</li>
    <li>doing these alternate days for about 30 minutes is enough but there is a condition (mentioned in below paragraph)</li>
</ul>

<p>
    Doing minimal excercise means consuming minimal calorific diet, because we know.. diet/nutrition and excercise go hand in hand.
</p>

<p>
    Excercise helps your muscles, lungs and heart, but there are organs which needs other ways to keep healthy.. such as stomach, kidneys, intestines.. which we can discuss further.
</p>